@import './sass/_bootstarp.scss';


#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}

::-webkit-scrollbar {
    display: block;
  }
  .light-skin-modal {
    background-color: #ffffff; /* Light skin color */
    /* Add any additional styles you want for the modal */
  }
  